.borrowinfo{
	margin: 10px auto;
	padding-right:-44px;
	width: 470px;

}

.title{
	text-align: center;
}

.infotitle{
	font-family:"仿宋";
	font-size:16px;
	color:#444;
}

.error{
	color:red;
}

button{
	width:110px;
}

.button{
	width: 360px;
	margin: 20px auto;
}


input{
	width:366px;
	height: 34px;
}

form>div{
	margin: 8px;
}