.welcome{
	width: 410px;
	margin: 200px auto;
	text-align: center;
}

.bg{
	background-color: #C7D0DE;
	color: white;
}

#form{
	padding-top:20px;
}

.loginform{
	height: 310px;
	width: 410px;
	border:1px solid #223852;
	border-radius: 20px;

}

.loginform1{
	height: 310px;
	width: 410px;
	border-radius: 20px;
	background:hsla(0,0%,100%,.25) border-box ;
	text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
	box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset, 0 0.5em 1em rgba(0,0,0,0.6);
}

#resiger{
	width: 256px;
}

.Chineseword{
	position:absolute;
	margin-top:125px;
	margin-bottom:0px;
	margin-right:0px;
	margin-left:60px;
	font-size:40px;
	color:white;
}

.Englishword{
	position:absolute;
	margin-top: 480px;
	margin-bottom: 0px;
	margin-right: 0px;
	margin-left: 60px;
	font-size:60px;
	color:white;
}

.errorsubmit{
	text-align: center;
	height:35px;
	color:red;
}

#loginbutton{
	margin-top: 20px;
	width: 340px;
	border: 1px;
	/*margin-left: 4px;*/
	height: 38px;
	border-radius: 4px;
	background-color: #4f8fbe;
	color: #ffffff;
}
#loginbutton:hover{
	background:#2875AB;
}
#loginbutton:active{
	background:#4f8fbe;
}



#rightsize{
	align:right;
	color:white;

}

#usernameinput{
	width:340px;
	height:38px;
	margin-top: 20px;

	border:1px #8f8f8f;
	border-radius: 4px;

}

#passwordinput{
	width:340px;
	height:38px;
	margin-top: 20px;

	border:1px #8f8f8f;
	border-radius: 4px;

}

#labellogin{
	margin-top:20px;
	width:140px;
	font-size:28px;
	color: #1c6fa7;
	text-align: center;
}

#nva{
	margin: 0 auto;
}


li{
	padding-left: 50px;
	padding-right: 50px;
}

#back{
	background-image: url("../image/mountain（logo）.png");
	background-size:100% auto;
	background-repeat:no-repeat;
}

a{
	text-decoration: none;
}